*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    
}
body{
    background-image: url("./hatter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: gird;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:"hatter" "div" "div" 
    "div" "div" "div"
    "div" "div" "div"/ 100px 100px 100px;
}

.Card {
    grid-area: "div";
    background-color: red;
    width: 50px;
    height: 100px;
    
}
.Card :nth-of-type(1) 
{
    background-color: green;

}

h1 {
    color: purple;
}
li{
    background-color: aqua;
}

.hatter {
 grid-area: "hatter";
}